<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.apiv4.order.mapper.IOrderMapper">
	<select id="selectOutTimeOrder" resultType="string">
         select id from t_order
         where (unix_timestamp(now())-unix_timestamp(`createdate`))>120
			and status=1
     </select>
</mapper>